.container {
    padding: 0 0 1em 0;
    margin-top: .2em;
    width: 600px;
    background-color: var(--gris);
    background-repeat: no-repeat;
    border-width: 4px; /* Ancho del borde */
    border-style: solid; /* Tipo de borde */
    border-radius: 8px; /* Opcional: esquinas redondeadas */
    grid-template-columns: repeat(2, 1fr);
}

.img {
    padding: 10px;
}

.button {
    position: relative;
    background: black;
    color: white;
    border-color: cyan;
    border-color: 2px;
    border-radius: 10%;
    padding: 5px;
    margin-left: 5px;
}

.banner {
    width: 100%; 
  }
