.capa {
    width: 80%;
    height: 490px;
    background-size: cover;
    background-repeat: no-repeat;
}

.gradient {
    height: 100%;
    width: 100%;
    opacity: .5;
    background-color: black;
}

/* Responsividad */
@media (max-width: 768px) {
    .capa {
        height: 30vh; /* Ajustar altura para pantallas más pequeñas */
    }
}

@media (min-width: 769px) and (max-width: 990px) {
    .capa {
        height: 35vh; /* Ajustar altura para tabletas */
        width: 100px;
    }
}

@media (min-width: 991px) {
    .capa {
        height: 80vh; /* Mantener altura para pantallas más grandes */
    }
}